<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- realsense d435i -->
  <xacro:include filename="$(find realsense2_description)/urdf/_d435i.urdf.xacro"/>
  <xacro:include filename="$(find prl_ur5_description)/urdf/_d435_gazebo.urdf.xacro"/>

  <xacro:macro name="camera_sensor" params="prefix parent camera pose turn_on:=false">

    <!-- check camera type -->
    <xacro:unless value="${camera in ['realsense-d435i', 'femto-mega', 'zed-mini', 'zed-2i', None]}">
      <xacro:unknown_camera_type/>
    </xacro:unless>

    <!-- if realsense d435i -->
    <xacro:if value="${camera == 'realsense-d435i'}">
      <xacro:sensor_d435i name="${prefix}camera" parent="${parent}" use_nominal_extrinsics="true">
        <origin xyz="${pose['x']} ${pose['y']} ${pose['z']}" rpy="${pose['roll']} ${pose['pitch']} ${pose['yaw']}"/>
      </xacro:sensor_d435i>
      <xacro:gazebo_d435 name="${prefix}camera" turn_on="${turn_on}"/>
    </xacro:if>

    <!-- if Stereolabs ZED Mini / ZED 2i (pose is the pose of the camera's mounting screw) -->
    <xacro:if value="${camera in ['zed-mini', 'zed-2i']}">
      <xacro:include filename="$(find prl_ur5_description)/urdf/_zed.urdf.xacro"/>
      <xacro:zed_sensor name="${prefix}camera" model="${'zedm' if camera == 'zed-mini' else 'zed2i'}"
                        parent="${parent}" pose="${pose}" turn_on="${turn_on}"/>
    </xacro:if>
    <xacro:if value="${camera == 'femto-mega'}">
        <xacro:femto_bolt prefix="${prefix}camera" parent="${parent}" use_nominal_extrinsics="true">
            <origin xyz="${pose['x']} ${pose['y']} ${pose['z']}" rpy="${pose['roll']} ${pose['pitch']} ${pose['yaw']}"/>
        </xacro:femto_bolt>
    </xacro:if>

  </xacro:macro>
</robot>
